#welcome-section{
  height: 100vh;
  background-color: #999999;
}
#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: skyblue;
}
@media screen and (min-width: 800px) {
  #welcome-section{
    background-color: palegreen;
  }
}
